* {
    box-sizing: border-box;
}

.container-center {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 1px #000000 solid;
}

